<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button v-on:click="logText">click me</button>
        <input type="text" v-on:keyup.enter="logText" v-model='messages'>
        <button v-on:click="btn">add</button>
        <p v-if="loading">{{messages}}</p>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            methods: {
                logText: function () {
                    console.log('clicked');
                },
                btn: function () {
                    this.loading = true;
                },
            },
            data: {
                messages: '',
                loading: false,
            }

        })
    </script>

</body>

</html>